#mainpage{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
}

.newsapp{
    width: 55%;
    margin-left: 10%;
    /* height: 780px; */
    height: auto;
    padding: 5px;
    margin-top: 1%;
    /* border: 2px solid red; */
    /* border-radius: 5%; */
    background-color: #1d1e1f;
    /* padding-bottom: 10px; */
}


.image{
    width: 40%;
    height: 180px;
    
    /* border: 2px solid aqua; */
    margin-left: 10px;
}
.imgclass{
    height: 160px;
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.title{
    font-weight: bold;
   margin-top: 5px;
    /* margin-left: 3%; */
    color: white;
    font-family: Arial, "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
   /* margin-right: 230px; */
    
}
.shortdesc{
   font-size: 14px;
   line-height: 21px;
   color: #edeef0;
   font-family: Arial, "Noto Sans", sans-serif
   
}
.imageDescription{
    /* border: 1px solid red; */
    width: 70%;
    margin-left: 3%;
}
.time{
    color: #808183;
    font-size: 12px;
    line-height: 18px;
}

.Container{
    display: flex;
    height: 180px;
    width: 100%;
    /* background-color: beige; */
    margin-top: 30px;
}


/* ..................................................... */
