body { 
  background-color: rgb(249,249,251);
}

.Insidemaindiv {
  background-color:white;
  padding:15px;
  font:12px;
  font-family: " BentonSans,Arial,Noto Sans,sans-serif";
  
}

.searchhover :hover { 
  background-color:lightblue;

}
a {
  text-decoration:none;
}
#hoverdivhere :hover{
background-color: lightblue;
cursor:pointer;
}