.content>div:first-child {
    width: 55%;
    margin: auto;
    margin-top:1%;
}

.home {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top:2%;
}

.home img {
    transition: transform 0.5s;
}

.home img:hover {
    transform: scale(1.05);
}

.leftDiv {
    width: 20%;
}

.leftDiv>div:first-child {
    border: 1px solid rgb(205, 203, 203);
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 5%;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 5%;
}

.subBox {
    margin-bottom: 5%;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5% 0%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 15px;
}

.subBox>div:first-child {
    border-bottom: 1px solid rgb(195, 194, 194);
    margin-bottom: 2%;
    padding-left: 5%;
}

.sublist {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 3% 5%;
}

.sublist:hover {
    background-color: lightskyblue;
}

.subBox span {
    margin-left: 5%;
}

.search {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(3, 169, 244);
    border-radius: 100px;
    color: rgb(3, 169, 244);
    font-family: BentonSans, Arial, Noto Sans, sans-serif;
    font-weight: bold;
}

.search p {
    margin-right: 5%;
}

.middleDiv {
    width: 50%;
    box-sizing: border-box;
    
}

.middleDiv>div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 3%;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 5%;
    border: 1px solid rgb(152, 152, 152);
}

.slider {

    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-top: 1px solid rgb(217, 216, 216);
}

.slider>div {
    width: 30%;
    margin-top: 3%;
}

.middleDiv>div img {
    width: 100%;
    border-radius: 20px;
}

.rightDiv {
    width: 25%;
}

.rightDiv>div img {
    width: 100%;
    border-radius: 20px;
}

.rightDiv>div>div {
    box-sizing: border-box;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    font-size: 14px;
}

.img {
    border-bottom: 1px solid rgb(195, 194, 194);
    margin-top: 5%;
}

.oneDiv {
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: space-between;
}

.oneDiv>div {
    width: 48%;

}

#day {
    background-color: rgb(249, 249, 251);
    color: black;
}

#night {
    /* background-color:rgb(29,30,31); */
    color: white;
}