.home{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.leftDiv{
    border: 1px solid blue;
    width: 20%;
}
.middleDiv{
    width: 50%;
    border: 1px solid salmon;
}
.rightDiv{
    width: 25%;
    border: 1px solid red;
}