.main{
    display: flex;
    justify-content: center;
    background-color: rgb(106, 172, 252);
    padding-bottom: 5vh;
    padding-top: 4vh;
}
.itemContainer{
    margin-left: 1.5vw;
    margin-top: 1vh;
    padding-left: 10px;
    width: 320px;
    height: 155px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;
}

.category{
    display: flex;
}

.category > :nth-child(2){
    font-size: small;
}

.category > :nth-child(1){
    font-weight: bold;
    font-size: small;
    color: rgb(227, 47, 47);
}
.team1, .team2{
    display: flex;
    margin-top: 10px;
    height: 24px;
}

.team1Img, .team2Img{
    display: flex;
    height: 30px;
}

.team1Img > img, .team2Img > img {
    width: 28px;
    margin-top: 2px;
    height: 90%;
}

.team1Img > p, .team2Img > p{
    margin-left: 10px;
    line-height: 0em;
    font-size: small;
    font-weight: bolder;
}

.team1Img > div, .team2Img > div {
    width: 220px;
    text-align: right;
}

.team1Img > div > h4, .team2Img > div > h4{
    line-height: 0em;
    font-size: 15px;
}

.result > p{
    font-size: small;
    font-weight: 400;
}